.places__place__title {
  /* border: 1.1px solid royalblue; */
  margin: 0;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .places__place__title {
    font-size: 42px;
    margin-left: 24px;
    line-height: 46px;
  }
}


@media screen and (max-width: 320px) {
  .places__place__title {
    font-size: 32px;
    line-height: 38px;
    margin: 0 16px 32px 16px;
  }
}