.lead {
    margin: 0 auto;
    /* border: 1.1px solid tomato; */
    max-width: 984px;
}

.lead {
    margin: 0 auto;
    max-width: 984px;
  }
  
  @media screen and (max-width: 1024px) {
    .lead {
      max-width: 90.265%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead {
      max-width: 100%;
    }
  }