.footer__link {
  margin: 0;
  padding: 0;
  padding-right: 18px;
  line-height: 18px;
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
  transition: .2s ease-in-out;
  
}

.footer__link:hover {
  opacity: 0.6;
}

@media screen and (max-width:767px) {
  .footer__link{
    line-height: 24px;
    font-size: 24px;
    padding-bottom: 32px;
    padding-right:0 ;
}
.footer__link:last-child {
  padding: 0;
}
}