.intro {
    padding: 92px 0 92px 0;
    margin: 0 auto ;
    /* border: 1.1px solid tomato; */
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .intro {
      max-width: calc(100% - 96px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .intro {
      max-width: 93.75%;
      padding: 88px 0;
    }
  }
  
  @media screen and (max-width: 320px) {
    .intro {
      line-height: 35px;
      max-width: 90%;
      font-size: 32px;
      padding: 64px 0;
      /* margin: 0; */
    }
  }