.footer {
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 92px 0 24px 0;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 90.62%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px; 
    max-width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}


@media screen and (max-width:320px) {
  .footer {
    padding: 64px 0 0 0 ;
    margin-left: 16px;
  }
  
}