.intro__title {
    margin: 0;
    padding: 0;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
}

@media screen and (max-width: 767px) {
    .intro__title {
        max-width: 90%;
        padding-bottom: 16px;
        font-size: 5vw;
        line-height: 1.12;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        line-height: 35px;
        font-size: 32px;
    }
}